.details-breadcrumb {
  margin-top: 36px;
  padding-left: 7px;
  background-color: purple !important;
}

/*.details-video {*/
/*}*/

.details-season-btn {
  margin-top: 14px;
  margin-left: 14px;
  margin-bottom: 8px;
  border-radius: 10px;
  color: #000000;
}

.details-group-btn {
  /*margin-left: 31px;*/
  margin-bottom: 8px;
  margin: 0 10px;
  border-radius: 14px !important;
  color: #000000;
}

.details-vid-cover {
  display: none;
}

@media (min-width: 992px) {
  .details-vid-cover {
    display: initial;
  }
}

