.sub-title-span {
  font-weight: bold;
}

.policy-heading {
  padding: 14px 0px;
  padding-top: 10px;
}

.policy-content-date {
  padding: 0px 14px;
  padding-top: 10px;
}

.policy-content-col {
  padding: 15px 28px;
}

