.sub-title-span {
  font-weight: bold;
}

p {
  font-size: smaller;
}

.policy-heading {
  padding: 14px 14px 10px 0;
  /*padding-top: 10px;*/
}

.policy-content-date {
  /*padding: 0px 14px;*/
  padding-top: 10px;
}

.policy-content-col {
  padding: 25px 28px;
}

.padding-1 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
