{% extends 'streaming/base.html' %}
{% load static %}
{% block head %}
<title>API</title>
<!--    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="{% static 'assets/css/crud.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'assets/css/Hero-Carousel-images.css' %}">-->
    <link rel="stylesheet" href="{% static 'assets/css/home.css">
    <link rel="stylesheet" href="{% static 'assets/css/media-details.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/privacy-p.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/simple-footer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider-swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/untitled-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/video-details.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/video-list.css' %}">
{% endblock %}


{% block styles %}
{% endblock %}

{% block carousel %}
{% endblock %}

{% block content %}
    <header class="masthead" style="background-image: url('https://fthmb.tqn.com/eafqwUkQEf_K4apTUZzfBDCT18o=/4190x2283/filters:fill(auto,1)/red-empty-seats-at-movie-theater-688928923-5b1984fb3037130036364a1f.jpg')">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading text-uppercase" style="padding-top: 17px;"></div><a class="btn btn-primary text-uppercase" role="button" href="#services">Sign Up Now</a>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">API</h2>
                    <h3 class="text-muted section-subheading">Use the resources below to use our API</h3>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link movie-card" href="index/">
                        <div class="portfolio-caption movie-card-btm">
                            <h4>API Index</h4>
                            <p class="text-muted">View API in Browser</p>
                        </div>
                    </a></div>
                <div class="col-sm-6 col-md-4 offset-xxl-1 portfolio-item"><a class="portfolio-link" href="{% url 'streaming:api_crud' %}">
                        <div class="portfolio-caption movie-card-btm">
                            <h4>API Testing</h4>
                            <p class="text-muted">Perform CRUD</p>
                            <p class="text-muted">(Not Fully Functional)</p>
                        </div>
                    </a></div>
            </div>
        </div>
    </section>
{% endblock %}