{% extends 'streaming/base.html' %}
{% load static %}
{% block head %}
<title>API</title>
{% endblock %}
{% block styles %}
{% endblock %}
{% block carousel %}
{% endblock %}

{% block content %}
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
    <header class="masthead" style="height: 420px; background-image: url('https://imagedelivery.net/5IPp1ww3GQHMKaYL6DWf-g/e5ea3775-789f-4a06-0b96-fddaec74cf00/UHD1920X1080')">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"></div>
                <div class="intro-heading text-uppercase" style="padding-top: 17px;"></div>
<!--                <a class="btn btn-primary text-uppercase" role="button" href="#services">Sign Up Now</a>-->
            </div>
        </div>
    </header>
    <div class="container" style="margin-top: 3em">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Crud operations</h2>
                    <h3 class="text-muted section-subheading">Use the resources below to use our API</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="margin-top: 3em">
                    <h1 class="d-flex justify-content-center crud-heading">Movies</h1>
                    <p></p>

                    <h4 class="crud-subhead" style="margin-top: 1em">Create New Movie</h4>
                    <form method="post" action="{% url 'streaming:movies-list' %}" enctype="multipart/form-data">
                        {% csrf_token %} {{ movie_form.as_p }}
                        <button class="btn-primary crud-btn" type="submit">Create Movie</button>
                    </form>

                    <h4 class="crud-subhead" style="margin-top: 1em"><span style="color: rgb(0, 0, 0);">Update Existing Movie</span></h4>
<!--                    <input type="text" class="crud-input" placeholder="Enter Video #ID">-->
                    <form method="post" action="/api/index/movies/{{ movie.id }}">
                        {% csrf_token %}
                        {{ movie_form.as_p }}
                        <button type="submit">Update</button>
                    </form>
<!--                    <button class="btn btn-primary crud-btn" type="button">Update</button>-->
                    <h4 class="crud-subhead" style="margin-top: 1em"><span style="color: rgb(0, 0, 0);">Delete a Movie</span></h4><!-- Start: List Group Videos -->
                    <div>
                        <div class="col-md-12 col-lg-12 col-xxl-12 offset-md-0 offset-xxl-0">
                            <div class="row">
                                {% if movies %}
                                    {% for movie in movies %}
                                    <!-- Start: Video Card -->
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2">

                                        <form method="POST" action="/api/index/movies/{{ movie.id }}/">
                                            {% csrf_token %}
                                            <div class="card video-card">
                                                <div class="card-img"><img src="{{ movie.thumbnail_url }}"></div>
                                                <div class="card-img-overlay">
                                                    <h6 class="text-start" style="text-align: left;"><span class="badge bg-primary video-card-top-badge">HD</span></h6>
                                                </div>
                                                <div class="card-body video-card-body">
                                                    <div class="row d-flex">
                                                        <div class="col-sm-12">
                                                            <!-- Start: Card Title -->
                                                            <p class="video-card-title">{{ movie.title }}</p><!-- End: Card Title -->
                                                        </div>
                                                        <div class="col-8 col-sm-9">
                                                            <p class="video-card-p">2023&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-dot">
                                                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                                                                </svg>&nbsp; 87m</p>
                                                        </div>
                                                        <div class="col-4 col-sm-3 d-flex justify-content-center align-items-center"><span class="badge bg-primary d-flex justify-content-center align-items-end video-card-bottom-badge">Movie</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button style="width: 100%;margin-bottom: 1em;background-color: darkorange; border-radius: 4px" type="submit">Delete Video {{ movie.id }}</button>
                                        </form>
                                        </div>
                                    <!-- End: Video Card -->
                                    {% endfor %}
                                {% else %}
                                    <h1>Sorry, unable to fetch the movies list..</h1>
                                {% endif %}
                            </div>
                        </div>
                    </div><!-- End: List Group Videos -->
                </div>
                <div class="col">
                    <hr style="margin-top: 3em">
                </div>
                <div class="col-sm-12" style="margin-top: 3em">
                    <h1 class="d-flex justify-content-center crud-heading"><strong><span style="color: rgb(0, 0, 0);">Actors</span></strong></h1>
                    <p></p>
                    <h4 class="crud-subhead">Add New Actor</h4>
                    <form method="post" action="{% url 'streaming:actors-list' %}" enctype="multipart/form-data">
                        {% csrf_token %} {{ actor_form.as_p }}
                        <button class="btn-primary crud-btn" type="submit">Create Actor</button>
                    </form>
                    <h4 class="crud-subhead" style="margin-top: 1em"><span style="color: rgb(0, 0, 0)">Update Existing Actor</span></h4><input type="text" class="crud-input" placeholder="Enter Actor #ID"><button class="btn btn-primary crud-btn" style="margin-left: 1em" type="button">Update</button>
                    <h4 class="crud-subhead" style="margin-top: 1em"><span style="color: rgb(0, 0, 0);">Delete an Actor</span></h4><!-- Start: List Group Videos -->
                    <div>
                        <div class="col-lg-12 col-xxl-12">
                            <div class="row" style="padding-top: 14px;">
                                {% if actors.exists %}
                                    {% for actor in actors %}
                                    <!-- Start: Actor Card -->
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2">
                                        <div class="card home-card">
                                            <div class="card-img square"><img src="{{ actor.thumbnail_url }}"></div>
                                            <div class="card-img-overlay"></div>
                                            <div class="card-body video-card-body">
                                                <div class="row d-flex">
                                                    <div class="col-sm-12 d-flex justify-content-center align-items-center actor-card-h" style="text-align: center;">
                                                        <!-- Start: Actor Card Title -->
                                                        <p class="home-card-title">{{ actor.name }}</p>
                                                        <!-- End: Actor Title -->
                                                    </div>
                                                    <div class="col-12 col-sm-12 d-flex justify-content-center align-items-center"><span class="badge bg-primary d-flex justify-content-center align-items-end home-card-bottom-badge">U.S.</span></div>
                                                    <div class="col-12 col-sm-12 col-xl-12 col-xxl-12 d-flex justify-content-center align-items-center">
                                                        <p>{{ actor.id }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End: Actor Card -->
                                    {% endfor %}
                                {% else %}
                                    <h1>Sorry, unable to fetch the actor list..</h1>
                                {% endif %}
                            </div>
                        </div>
                    </div><!-- End: List Group Videos -->
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>

{% endblock %}
