<!DOCTYPE html>
{% load static %}
<html data-bs-theme="light" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--    Navbar Assets   -->
    <link rel="stylesheet" href="{% static 'assets/css/navbar.css' %}">
    <!--    Carousel Assets   -->
    <link rel="stylesheet" href="{% static 'assets/css/Hero-Carousel-images.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider-swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider.css' %}">
    <!--    Global Assets   -->
    <link rel="stylesheet" href="{% static 'assets/css/simple-footer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %}">
<!--    <link rel="stylesheet" href="{% static 'assets/css/video-list.css' %}">-->

  {% block head %}
    <title>Title</title>
  {% endblock %}

  {% block script %}
  {% endblock %}

<!--  <link rel="stylesheet" href="public/static/home/css/style.css'">-->

  {% block style %}
  {% endblock %}

</head>
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54" style="background-color: #f4f2f2;">
  <nav class="navbar navbar-expand-lg fixed-top bg-black navbar-dark" id="mainNav">
        <div class="container"><a class="navbar-brand" href="{% url 'streaming:home' %}">DjangoStream</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link" href="{% url 'streaming:home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'streaming:movie_list' %}">Movies</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'streaming:tv_list' %}">TV Shows</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'streaming:genre_list' %}">genres</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'streaming:api_main' %}">API</a></li>
                </ul>
            </div>
        </div>
    </nav><!-- Start: Hero Carousel -->

  {% block carousel %}
  {% endblock %}

  {% block content %}
  {% endblock %}
  {% block footer %}
  {% endblock %}
  <div class="footer-2" style="margin-top: 3em;">
        <div class="container">
            <div class="row">
                <div class="col-8 col-sm-6 col-md-6">
                    <p class="text-start" style="margin-top:5%;margin-bottom:3%;">© 2023 Kamron H.</p>
                </div>
                <div class="col-12 col-sm-6 col-md-6">
                    <p class="text-end" style="margin-top:5%;margin-bottom:8%;font-size:1em;"><a href="{% url 'streaming:privacy_policy' %}">Privacy Policy</a></p>
                </div>
            </div>
        </div>
    </div><!-- End: simple footer -->

<!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!--    <script src="assets/js/agency.js"></script>-->
  <script src="{% static 'assets/js/Simple-Slider-swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/Simple-Slider.js' %}"></script>
</body>
</html>