<!DOCTYPE html>
{% load static %}
<html data-bs-theme="light" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<!--    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Hero-Carousel-images.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/simple-footer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider-swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %}">

  {% block head %}
    <title>Title</title>
  {% endblock %}

  {% block script %}
  {% endblock %}

<!--  <link rel="stylesheet" href="public/static/home/css/style.css'">-->

  {% block style %}
  {% endblock %}

</head>
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54" style="background-color: #f4f2f2;">
  <nav class="navbar navbar-expand-lg fixed-top bg-black navbar-dark" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#">DjangoStream</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="movie-list.html">Movies</a></li>
                    <li class="nav-item"><a class="nav-link" href="tv-list.html">TV Shows</a></li>
                    <li class="nav-item"><a class="nav-link" href="genres.html">genres</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="api-main.html">API</a></li>
                </ul>
            </div>
        </div>
    </nav><!-- Start: Hero Carousel -->


{% block content %}
  <div class="carousel slide" data-bs-ride="carousel" id="carousel-1" style="height: 600px;">
        <div class="carousel-inner h-100 home-cover">
            <div class="carousel-item active h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="{% static 'assets/img/mov_cover/partisan_1dark.jpeg' %}" alt="Slide Image" style="z-index: -1;"><!-- Start: 1 Row 1 Column -->
                <div class="container d-flex flex-column justify-content-center h-100">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 col-xxl-6 offset-md-2">
                            <div style="max-width: 400px;">
                                <h2 class="text-uppercase fw-bold">Partisan</h2>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-2 col-xxl-2"><span class="badge bg-primary video-list-cover-badge">HD</span></div>
                                        <div class="col-10 col-xxl-6">
                                            <p>Duration: 1h 34m</p>
                                        </div>
                                        <div class="col-12">
                                            <p>Genre: Drama</p>
                                        </div>
                                        <div class="col">
                                            <p>Alexander, a boy raised in a secluded commune, finds himself at odds with Gregori, the society's charismatic leader. As he begins to question the community's ways, his increasing unwillingness to conform puts him on a collision course with Gregori, leading to a tense and dramatic confrontation.</p>
                                        </div>
                                    </div>
                                </div><a class="btn btn-primary btn-lg me-2 video-list-cover-btn" role="button" href="video-detail.html">Watch Now</a>
                            </div>
                        </div>
                    </div>
                </div><!-- End: 1 Row 1 Column -->
            </div>
            <div class="carousel-item h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="{% static 'assets/img/mov_cover/training_day_coverdark.webp' %}" alt="Slide Image" style="z-index: -1;"><!-- Start: 1 Row 1 Column -->
                <div class="container d-flex flex-column justify-content-center h-100">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 col-xxl-6 offset-md-2">
                            <div style="max-width: 400px;">
                                <h2 class="text-uppercase fw-bold">Training day</h2>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-2 col-xxl-2"><span class="badge bg-primary video-list-cover-badge">HD</span></div>
                                        <div class="col-10 col-xxl-6">
                                            <p>Duration: 2hrs 2min</p>
                                        </div>
                                        <div class="col-12">
                                            <p>Genre: Action, Thriller, Crime</p>
                                        </div>
                                        <div class="col">
                                            <p>A rookie cop spends his first day as a Los Angeles narcotics officer with a rogue detective who isn't what he appears to be. As the day progresses, he realizes the harrowing depths of corruption and moral ambiguity that come with the badge.</p>
                                        </div>
                                    </div>
                                </div><a class="btn btn-primary btn-lg me-2 video-list-cover-btn" role="button" href="video-detail.html">Watch Now</a>
                            </div>
                        </div>
                    </div>
                </div><!-- End: 1 Row 1 Column -->
            </div>
            <div class="carousel-item h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="assets/img/mov_cover/roadwarrior_dark.png" alt="Slide Image" style="z-index: -1;"><!-- Start: 1 Row 1 Column -->
                <div class="container d-flex flex-column justify-content-center h-100">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 col-xxl-6 offset-md-2">
                            <div style="max-width: 400px;">
                                <h2 class="text-uppercase fw-bold video-list-cover-title">Mad max</h2>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-2 col-xxl-2"><span class="badge bg-primary video-list-cover-badge">HD</span></div>
                                        <div class="col-10 col-xxl-6">
                                            <p class="video-list-cover-p">Duration: 1h 28m</p>
                                        </div>
                                        <div class="col-12">
                                            <p class="video-list-cover-p">Genre: Action, Adventure, Sci-Fi</p>
                                        </div>
                                        <div class="col">
                                            <p class="video-list-cover-descrip">In a post-apocalyptic world on the brink of chaos, a vengeful Australian policeman named Max sets out on a mission to stop a violent motorcycle gang. As law and order crumble, Max's pursuit becomes a high-octane battle for survival on the desolate roads.</p>
                                        </div>
                                    </div>
                                </div><a class="btn btn-primary btn-lg me-2 video-list-cover-btn" role="button" href="video-detail.html">Watch Now</a>
                            </div>
                        </div>
                    </div>
                </div><!-- End: 1 Row 1 Column -->
            </div>
            <div class="carousel-item h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="assets/img/mov_cover/alien_cover_0dark.webp" alt="Slide Image" style="z-index: -1;"><!-- Start: 1 Row 1 Column -->
                <div class="container d-flex flex-column justify-content-center h-100">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 col-xxl-6 offset-md-2">
                            <div style="max-width: 400px;">
                                <h2 class="text-uppercase fw-bold">Alien (1979)</h2>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-2 col-xxl-2"><span class="badge bg-primary video-list-cover-badge">HD</span></div>
                                        <div class="col-10 col-xxl-6">
                                            <p>Duration: 1h 57m</p>
                                        </div>
                                        <div class="col-12">
                                            <p>Genre: Horror, Sci-Fi</p>
                                        </div>
                                        <div class="col">
                                            <p>The crew of a commercial spacecraft encounters a deadly life-form after investigating an unknown transmission. As they navigate the confines of their ship, they quickly realize that they are not alone, and the alien being aboard is a perfect predator, unclouded by conscience, remorse, or any form of morality.</p>
                                        </div>
                                    </div>
                                </div><a class="btn btn-primary btn-lg me-2 video-list-cover-btn" role="button" href="video-detail.html">Watch Now</a>
                            </div>
                        </div>
                    </div>
                </div><!-- End: 1 Row 1 Column -->
            </div>
            <div class="carousel-item h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="assets/img/mov_cover/colors_0dark.jpeg" alt="Slide Image" style="z-index: -1;"><!-- Start: 1 Row 1 Column -->
                <div class="container d-flex flex-column justify-content-center h-100">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 col-xxl-6 offset-md-2">
                            <div style="max-width: 400px;">
                                <h2 class="text-uppercase fw-bold">Fast Color</h2>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-2 col-xxl-2"><span class="badge bg-primary video-list-cover-badge">HD</span></div>
                                        <div class="col-10 col-xxl-6">
                                            <p>Duration: 1h 40min</p>
                                        </div>
                                        <div class="col-12">
                                            <p>Genre: Drama, Sci-Fi, Thriller</p>
                                        </div>
                                        <div class="col">
                                            <p>After years in hiding due to her superhuman abilities, a woman is forced to go on the run. Her past catches up with her, and the only refuge she has left is her family home. As she confronts her powers and her past, she must decide whether to keep running or face the consequences.</p>
                                        </div>
                                    </div>
                                </div><a class="btn btn-primary btn-lg me-2 video-list-cover-btn" role="button" href="video-detail.html">Watch Now</a>
                            </div>
                        </div>
                    </div>
                </div><!-- End: 1 Row 1 Column -->
            </div>
            <div class="carousel-item h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="assets/img/mov_cover/black-monday-2dark.jpeg" alt="Slide Image" style="z-index: -1;"><!-- Start: 1 Row 1 Column -->
                <div class="container d-flex flex-column justify-content-center h-100">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 col-xxl-6 offset-md-2">
                            <div style="max-width: 400px;">
                                <h2 class="text-uppercase fw-bold">Black Monday</h2>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-2 col-xxl-2"><span class="badge bg-primary video-list-cover-badge">HD</span></div>
                                        <div class="col-10 col-xxl-10">
                                            <p>Duration: 30m per episode</p>
                                        </div>
                                        <div class="col-12">
                                            <p>Genre: Comedy</p>
                                        </div>
                                        <div class="col">
                                            <p>Dive into the world of Wall Street in the 1980s, where a group of outsiders challenges the old-boys club. As they navigate the highs and lows of the financial world, they uncover secrets, scandals, and the dark side of ambition.</p>
                                        </div>
                                    </div>
                                </div><a class="btn btn-primary btn-lg me-2 video-list-cover-btn" role="button" href="video-detail.html">Watch Now</a>
                            </div>
                        </div>
                    </div>
                </div><!-- End: 1 Row 1 Column -->
            </div>
        </div>
        <div>
            <!-- Start: Previous --><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><!-- End: Previous -->
            <!-- Start: Next --><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a><!-- End: Next -->
        </div>
        <div class="carousel-indicators"><button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="3"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="4"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="5"></button></div>
    </div><!-- End: Hero Carousel -->
{% endblock %}
  <div class="footer-2">
        <div class="container">
            <div class="row">
                <div class="col-8 col-sm-6 col-md-6">
                    <p class="text-start" style="margin-top:5%;margin-bottom:3%;">© 2023 Kamron H.</p>
                </div>
                <div class="col-12 col-sm-6 col-md-6">
                    <p class="text-end" style="margin-top:5%;margin-bottom:8%%;font-size:1em;"><a href="privacy-p.html">Privacy Policy</a></p>
                </div>
            </div>
        </div>
    </div><!-- End: simple footer -->
<!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<!--    <script src="assets/js/agency.js"></script>-->
  <script src="{% static 'assets/js/Simple-Slider-swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/Simple-Slider.js' %}"></script>
</body>
</html>