{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title>CRUD</title>
{% endblock %}

{% block style %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>~~ C.R.U.D. OPERATIONS ~~</h1>
        </div>
    </div>
</div>
<!-- SECTION FOR VIDEOS -->

<h3 style="color: #00363a">Videos</h3>

<!-- Create (POST) Form for Videos -->
<h5>Add a New Movie</h5>
<form method="post" action="/api/movies/" enctype="multipart/form-data">
    {% csrf_token %}
    {{ movie_form.as_p }}
    <button type="submit">Add Movie</button>
</form>

<!-- Update (PUT) Form for Videos -->
<h5>Update Existing Video</h5>
<form method="post" action="/api/movies/{{ movie_id }}/" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="_method" value="PUT">
    Movie ID: <input type="text" name="movie_id" value="{{ movie_id }}">
    {{ movie_form.as_p }}
    <button type="submit">Update Movie</button>
</form>

<!-- Delete (DELETE) Buttons for Videos -->
<h5>Delete Movie</h5>
{% for movie in movies %}
    <form method="post" action="/api/movies/{{ movie.id }}/">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete Video {{ movie.id }}</button>
    </form>
{% endfor %}

<!-- List (GET) of all Videos -->
<h5>List of All Videos</h5>
<ul>
{% for movie in movies %}
    <li>Title : {{ movie }} <br><span style="color: grey"> Actors : </span>
{% for actor in movie.actors.all %}
    <span style="color: lightgray">{{ actor.name }},</span>
{% endfor %}
</li>
{% endfor %}
</ul>

    <hr>
<!-- SECTION FOR ACTORS -->

<h3 style="color: #f5dd5d">Actors</h3>

<!-- Create (POST) Form for Actors -->
<h5>Create New Actor</h5>
<form method="post" action="/api/actors/" enctype="multipart/form-data">
    {% csrf_token %}
    {{ actor_form.as_p }}
    <button type="submit">Create Actor</button>
</form>

<!-- Update (PUT) Form for Actors -->
<h5>Update Existing Actor</h5>
<form method="post" action="/api/actors/{{ actor_id }}/" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="_method" value="PUT">
    Actor ID: <input type="text" name="actor_id" value="{{ actor_id }}">
    {{ actor_form.as_p }}
    <button type="submit">Update Actor</button>
</form>

<!-- Delete (DELETE) Buttons for Actors -->
<h5>Delete Actor</h5>
{% for actor in actors %}
    <form method="post" action="/api/actors/{{ actor.id }}/">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete Actor {{ actor.id }}</button>
    </form>
{% endfor %}

<!-- List (GET) of all Actors -->
<h5>List of All Actors</h5>
<ul>
{% for actor in actors %}
    <li>{{ actor.name }}</li>
{% endfor %}
</ul>

{% endblock %}
