{% extends 'streaming/base.html' %}
{% load static %}

{% block head %}
<title>Genres</title>
<!--<link rel="stylesheet" href="{% static 'assets/css/home.css' %}">-->
<!--<link rel="stylesheet" href="{% static 'assets/css/video-list.css' %}">-->
<!--<link rel="stylesheet" href="{% static 'assets/css/video-details.css' %}">-->
{% endblock %}

{% block style %}{% endblock %}

{% block carousel %}
<div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
        <div class="carousel-inner h-100 home-cover">
            {% if cover_movs %}
                {% for movie in cover_movs %}
                    <!-- Carousel Item -->
                    <div class="carousel-item {% if forloop.first %} active{% endif %} h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="{{ movie.cover_url }}" alt="Slide Image" style="z-index: -1;">
                        <!-- Start: 1 Row 1 Column -->
                        <div class="container d-flex flex-column justify-content-center h-100">
                            <div class="row">
                                <div class="col-md-6 col-xl-4 col-xxl-6 offset-md-2">
                                    <div style="max-width: 400px;">
                                        <h2 class="text-uppercase fw-bold">{{ movie.title }}</h2>
                                        <div class="col">
                                            <div class="row">
                                                {% if movie.length %}
                                                <div class="col-10 col-xxl-6">
                                                    <p><span style="font-weight: 700;">Duration</span>:  {{ movie.length }}</p>
                                                </div>
                                                {% endif %}
                                                <div class="col-2 col-xxl-2"><span class="badge bg-primary video-list-cover-badge">{{ movie.quality }}</span></div>
                                                <div class="col-12">
                                                    {% if movie.genres.all %}
                                                    <p><span style="font-weight: 700;">Genre</span>:
                                                        {% for genre in movie.genres.all %}
                                                            {% if forloop.last %}<span title="{{ genre.description }}"> {{ genre }}.</span>
                                                            {% else %}
                                                            <span title="{{ genre.description }}"> {{ genre }}, </span>
                                                            {% endif %}
                                                        {% endfor %} </p>
                                                    {% endif %}
                                                </div>
                                                <div class="col">
                                                    <p>{{ movie.description }}</p>
                                                </div>
                                            </div>
                                        </div><a class="btn btn-primary btn-lg me-2 video-list-cover-btn" role="button" href="{% url 'streaming:video_detail' video_id=movie.id %}">Watch Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End: 1 Row 1 Column -->
                    </div>
                    <!-- End of Carousel Item -->
                {% endfor %}
            {% else %}
                <h1>Sorry, unable to fetch the movies list..</h1>
            {% endif %}
        </div>
        <div>
            <!-- Start: Previous --><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><!-- End: Previous -->
            <!-- Start: Next --><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a><!-- End: Next -->
        </div>
        <div class="carousel-indicators">
            <div class="carousel-indicators">
                {% for movie in cover_movs %}
                <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></button>
                {% endfor %}
            </div>
        </div>
    </div><!-- End: Hero Carousel -->
{% endblock %}

{% block content %}
<!--    <header class="masthead" style="background-image: url('assets/img/unsplash/simon-ray-nLl5sJnElxY-unsplash.webp');">-->
<!--        <div class="container">-->
<!--            <div class="intro-text">-->
<!--                <div class="intro-lead-in"></div>-->
<!--                <div class="intro-heading text-uppercase" style="padding-top: 17px;"></div><a class="btn btn-primary text-uppercase" role="button" href="#services">Sign Up Now</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </header>-->
    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Genres</h2>
                    <h3 class="text-muted section-subheading"></h3>
                </div>
            </div>
            <div class="row">
                {% if genres_ls.exists %}
                {% for genre in genres_ls %}
                <div class="col-6 col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link movie-card" href="{% url 'streaming:genre_list' genre_pk=genre.pk %}">
                        <div class="portfolio-hover movie-card"><img class="img-fluid aspect-ratio-img" src="{{ genre.thumbnail_url }}"></div>
                        <div class="portfolio-caption movie-card-btm">
                            <h4>{{ genre }}</h4>
                        </div>
                    </a></div>
                {% endfor %}
                {% endif %}
<!--                <div class="col-6 col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="unused/science-cat.html">-->
<!--                        <div class="portfolio-hover movie-card">-->
<!--                            <div class="portfolio-hover-content"></div>-->
<!--                        </div><img class="img-fluid" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fstatic6.businessinsider.com%2Fimage%2F55c3bd76dd0895f26f8b469d-935-525%2Fthe-martian.png&amp;f=1&amp;nofb=1&amp;ipt=6520f5ac13aeb0c0f0bd955a1d3b8a75f5ca855dd8ce0f9c9e600fdb709d055d&amp;ipo=images">-->
<!--                        <div class="portfolio-caption movie-card-btm">-->
<!--                            <h4>Science Fiction</h4>-->
<!--                        </div>-->
<!--                    </a></div>-->
<!--                <div class="col-6 col-sm-6 col-md-4 portfolio-item"><a class="portfolio-link" href="unused/science-cat.html">-->
<!--                        <div class="portfolio-hover movie-card">-->
<!--                            <div class="portfolio-hover-content"></div>-->
<!--                        </div><img class="img-fluid" src="https://imagedelivery.net/5IPp1ww3GQHMKaYL6DWf-g/e16275d9-c165-4442-d153-05ac7efabb00/computer">-->
<!--                        <div class="portfolio-caption movie-card-btm">-->
<!--                            <h4>African American</h4>-->
<!--                        </div>-->
<!--                    </a></div>-->
            </div>
        </div>
    </section>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Mad Max</h2>
                                <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img class="img-fluid d-block mx-auto" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.thedeadtoons.com%2Fwp-content%2Fuploads%2F2020%2F12%2FThe-mad-max-wiki-fandom.jpg&amp;f=1&amp;nofb=1&amp;ipt=0b084a13aa9bf20b1a2bf9ce9549941bc073015175c8f245260fbfcc77527bb9&amp;ipo=images">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" type="button" data-bs-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                                <div class="col-10 vid-frame" style="padding-top: 26px;"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/W28kNzz50pw" class="vid-frame" style="/*height: 10rem;*//*width: auto;*/"></iframe></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}