{% extends 'streaming/base.html' %}
{% load static %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}

{% block carousel %}
<div class="carousel slide" data-bs-ride="carousel" id="carousel-1" style="height: 600px;">
        <div class="carousel-inner h-100 home-cover">
            {% if cover_movs %}
                {% for movie in cover_movs %}
                    <!-- Carousel Item -->
                    <div class="carousel-item {% if forloop.first %} active{% endif %} h-100"><img class="w-100 d-block position-absolute h-100 fit-cover" src="{{ movie.cover_url }}" alt="Slide Image" style="z-index: -1;">
                        <!-- Start: 1 Row 1 Column -->
                        <div class="container d-flex flex-column justify-content-center h-100">
                            <div class="row">
                                <div class="col-md-6 col-xl-4 col-xxl-6 offset-md-2">
                                    <div style="max-width: 400px;">
                                        <h2 class="text-uppercase fw-bold">{{ movie.title }}</h2>
                                        <div class="col">
                                            <div class="row">
                                                {% if movie.length %}
                                                <div class="col-10 col-xxl-6">
                                                    <p><span style="font-weight: 700;">Duration</span>:  {{ movie.length }}</p>
                                                </div>
                                                {% endif %}
                                                <div class="col-2 col-xxl-2"><span class="badge bg-primary video-list-cover-badge">{{ movie.quality }}</span></div>
                                                <div class="col-12">
                                                    <p><span style="font-weight: 700;">Genre</span>:
                                                        {% for genre in movie.genres.all %}
                                                            {% if forloop.last %}<span title="{{ genre.description }}"> {{ genre }}.</span>
                                                            {% else %}
                                                            <span title="{{ genre.description }}"> {{ genre }}, </span>
                                                            {% endif %}
                                                        {% endfor %} </p>
                                                </div>
                                                <div class="col">
                                                    <p>{{ movie.description }}</p>
                                                </div>
                                            </div>
                                        </div><a class="btn btn-primary btn-lg me-2 video-list-cover-btn" role="button" href="{% url 'streaming:video_detail' video_id=movie.id %}">Watch Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End: 1 Row 1 Column -->
                    </div>
                    <!-- End of Carousel Item -->
                {% endfor %}
            {% else %}
                <h1>Sorry, unable to fetch the movies list..</h1>
            {% endif %}
        </div>
        <div>
            <!-- Start: Previous --><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><!-- End: Previous -->
            <!-- Start: Next --><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a><!-- End: Next -->
        </div>
        <div class="carousel-indicators">
            <div class="carousel-indicators">
                {% for movie in cover_movs %}
                <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></button>
                {% endfor %}
            </div>
        </div>
    </div><!-- End: Hero Carousel -->
{% endblock %}

{% block content %}
    <div class="container">
        <!-- Start: Trending Row -->
        <div class="row" style="padding-top: 5em;">
            <div class="col-12 col-sm-6 d-flex justify-content-start">
                <h4 class="text-end">Trending</h4>
            </div>
            <div class="col-12">
                <div>
                    <ul class="nav nav-tabs d-flex justify-content-start home-tab-items" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link active home-tab" role="tab" data-bs-toggle="tab" href="#tab-1">Movies</a></li><!-- Start: Home Trending Tabs -->
                        <li class="nav-item" role="presentation"><a class="nav-link home-tab" role="tab" data-bs-toggle="tab" href="#tab-2">TV Shows</a></li><!-- End: Home Trending Tabs -->
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="tab-1">
                            <div class="row" style="padding-top: 14px;">
                                {% if movies %}
                                    {% for movie in movies %}

                                <!-- Start: Video Card -->
                                <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2 portfolio-item"><a class="" href="{% url 'streaming:video_detail_type' video_type=movie.type video_id=movie.id %}">
                                        <div class="card home-card">
                                            <div class="card-img"><img src="{{ movie.thumbnail_url }}"></div>
                                            <div class="card-img-overlay">
                                                <h6 class="text-start" style="text-align: left;"><span class="badge home-card-top-badge">HD</span></h6>
                                            </div>
                                            <div class="card-body home-card-body">
                                                <div class="row d-flex">
                                                    <div class="col-sm-12">
                                                        <!-- Start: Card Title -->
                                                        <p class="home-card-title">{{ movie.title }}</p><!-- End: Card Title -->
                                                    </div>
                                                    <div class="col-8 col-sm-9">
                                                        <p class="home-card-p">2023&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-dot">
                                                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                                                            </svg>&nbsp; 87m</p>
                                                    </div>
                                                    <div class="col-4 col-sm-3 d-flex justify-content-center align-items-center"><span class="badge d-flex justify-content-center align-items-end home-card-bottom-badge">Movie</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a></div>
                                    <!-- End: Video Card -->
                                    {% endfor %}
                                {% else %}
                                    <h1>Sorry, unable to fetch the movies list..</h1>
                                {% endif %}
                            </div>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="tab-2">
                            <div class="row" style="padding-top: 14px;">
                                {% if shows %}
                                    {% for show in shows %}
                                    <!-- Start: Video Card -->
                                    <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2 portfolio-item"><a class="portfolio-link" href="{% url 'streaming:video_detail_type' video_type=show.type video_id=show.id %}">
                                            <div class="card home-card">
                                                <div class="card-img"><img src="{{ show.thumbnail_url }}"></div>
                                                <div class="card-img-overlay">
                                                    <h6 class="text-start" style="text-align: left;"><span class="badge bg-primary home-card-top-badge">{{ show.quality }}</span></h6>
                                                </div>
                                                <div class="card-body home-card-body">
                                                    <div class="row d-flex">
                                                        <div class="col-sm-12">
                                                            <!-- Start: Card Title -->
                                                            <p class="home-card-title">{{ show.title }}</p><!-- End: Card Title -->
                                                        </div>
                                                        <div class="col-8 col-sm-9">
                                                            <p class="home-card-p">2023&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-dot">
                                                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                                                                </svg>&nbsp; 87m</p>
                                                        </div>
                                                        <div class="col-4 col-sm-3 d-flex justify-content-center align-items-center"><span class="badge bg-primary d-flex justify-content-center align-items-end home-card-bottom-badge">Series</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a></div><!-- End: Video Card -->
                                    {% endfor %}
                                {% else %}
                                    <h1>Sorry, unable to fetch the tv series list..</h1>
                                {% endif %}
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-3">
                            <p>Content for tab 3.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End: Trending Row -->
        <!-- Start: Trending Row Single -->
        <div class="row" style="padding-top: 5em;">
            <div class="col-8 d-flex justify-content-start">
                <h4 class="text-end">Latest Movies</h4>
            </div>
            <div class="col-4 d-flex justify-content-end"><a class="btn btn-primary d-flex justify-content-center align-items-center home-view-more" role="button" href="movie-list.html">View More&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                        <path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor"></path>
                    </svg>&nbsp;</a></div><!-- Start: Latest Movies Col. -->
            <div class="col-12">
                <div class="row" style="padding-top: 14px;">
                    {% if latest_movs %}
                        {% for movie in latest_movs %}
                        <!-- Start: Video Card -->
                                <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2 portfolio-item"><a class="portfolio-link" href="{% url 'streaming:video_detail' video_id=movie.id %}">
                                        <div class="card home-card">
                                            <div class="card-img"><img src="{{ movie.thumbnail_url }}"></div>
                                            <div class="card-img-overlay">
                                                <h6 class="text-start" style="text-align: left;"><span class="badge bg-primary home-card-top-badge">HD</span></h6>
                                            </div>
                                            <div class="card-body home-card-body">
                                                <div class="row d-flex">
                                                    <div class="col-sm-12">
                                                        <!-- Start: Card Title -->
                                                        <p class="home-card-title">{{ movie.title }}</p><!-- End: Card Title -->
                                                    </div>
                                                    <div class="col-8 col-sm-9">
                                                        <p class="home-card-p">2023&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-dot">
                                                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                                                            </svg>&nbsp; 87m</p>
                                                    </div>
                                                    <div class="col-4 col-sm-3 d-flex justify-content-center align-items-center"><span class="badge bg-primary d-flex justify-content-center align-items-end home-card-bottom-badge">Movie</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a></div><!-- End: Video Card -->
                        {% endfor %}
                    {% else %}
                        <h1>Sorry, unable to fetch the movies list..</h1>
                    {% endif %}
                </div>
            </div><!-- End: Latest Movies Col. -->
        </div><!-- End: Trending Row Single -->
        <!-- Start: Trending Row Single -->
        <div class="row" style="padding-top: 5em;">
            <div class="col-8 d-flex justify-content-start">
                <h4 class="text-end"><strong>Latest TV Shows</strong></h4>
            </div>
            <div class="col-4 d-flex justify-content-end"><a class="btn btn-primary d-flex justify-content-center align-items-center home-view-more" role="button" href="tv-list.html">View More&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                        <path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor"></path>
                    </svg>&nbsp;</a></div>
            <div class="col-12">
                <div class="row" style="padding-top: 14px;">
                    {% if latest_shows %}
                        {% for show in latest_shows %}
                        <!-- Start: Video Card -->
                                <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2 portfolio-item"><a class="portfolio-link" href="{% url 'streaming:video_detail' video_id=show.id %}">
                                        <div class="card home-card">
                                            <div class="card-img"><img src="{{ show.thumbnail_url }}"></div>
                                            <div class="card-img-overlay">
                                                <h6 class="text-start" style="text-align: left;"><span class="badge bg-primary home-card-top-badge">HD</span></h6>
                                            </div>
                                            <div class="card-body home-card-body">
                                                <div class="row d-flex">
                                                    <div class="col-sm-12">
                                                        <!-- Start: Card Title -->
                                                        <p class="home-card-title">{{ show.title }}</p><!-- End: Card Title -->
                                                    </div>
                                                    <div class="col-8 col-sm-9">
                                                        <p class="home-card-p">2023&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-dot">
                                                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                                                            </svg>&nbsp; 87m</p>
                                                    </div>
                                                    <div class="col-4 col-sm-3 d-flex justify-content-center align-items-center"><span class="badge bg-primary d-flex justify-content-center align-items-end home-card-bottom-badge">Series</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a></div><!-- End: Video Card -->
                        {% endfor %}
                    {% else %}
                        <h1>Sorry, unable to fetch the show list..</h1>
                    {% endif %}


                </div>
            </div>
        </div><!-- End: Trending Row Single -->
        <!-- Start: Trending Row Single -->
<!--        <div class="row" style="padding-top: 5em;">-->
<!--            <div class="col-8 d-flex justify-content-start">-->
<!--                <h4 class="text-end"><strong>Coming Soon...</strong></h4>-->
<!--            </div>-->
<!--            <div class="col-4 d-flex justify-content-end"><a class="btn btn-primary d-flex justify-content-center align-items-center home-view-more" role="button" href="movie-list.html">View More&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">-->
<!--                        <path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor"></path>-->
<!--                    </svg>&nbsp;</a></div>-->
<!--            <div class="col-12">-->
<!--                <div class="row" style="padding-top: 14px;">-->

<!--                    {% if movies %}-->
<!--                        {% for movie in movies %}-->
<!--                        &lt;!&ndash; Start: Video Card &ndash;&gt;-->
<!--                                <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2 portfolio-item"><a class="portfolio-link" href="{% url 'streaming:video_detail' video_id=movie.id %}">-->
<!--                                        <div class="card home-card">-->
<!--                                            <div class="card-img"><img src="{{ movie.thumbnail_url }}"></div>-->
<!--                                            <div class="card-img-overlay">-->
<!--                                                <h6 class="text-start" style="text-align: left;"><span class="badge bg-primary home-card-top-badge">HD</span></h6>-->
<!--                                            </div>-->
<!--                                            <div class="card-body home-card-body">-->
<!--                                                <div class="row d-flex">-->
<!--                                                    <div class="col-sm-12">-->
<!--                                                        &lt;!&ndash; Start: Card Title &ndash;&gt;-->
<!--                                                        <p class="home-card-title">{{ movie.title }}</p>&lt;!&ndash; End: Card Title &ndash;&gt;-->
<!--                                                    </div>-->
<!--                                                    <div class="col-8 col-sm-9">-->
<!--                                                        <p class="home-card-p">2023&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-dot">-->
<!--                                                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>-->
<!--                                                            </svg>&nbsp; 87m</p>-->
<!--                                                    </div>-->
<!--                                                    <div class="col-4 col-sm-3 d-flex justify-content-center align-items-center"><span class="badge bg-primary d-flex justify-content-center align-items-end home-card-bottom-badge">Movie</span></div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </a></div>&lt;!&ndash; End: Video Card &ndash;&gt;-->
<!--                        {% endfor %}-->
<!--                    {% else %}-->
<!--                        <h1>Sorry, unable to fetch the movies list..</h1>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>&lt;!&ndash; End: Trending Row Single &ndash;&gt;-->
    </div>
{% endblock %}