{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% block content %}

<!-- Button for Actors and Videos list -->
<a href="{% url 'streaming:api_dash' %}">
    <button type="button">Actors and Videos List</button>
</a>

<!-- Button for API Index list -->
<a href="{% url 'streaming:api_index' %}">
    <button type="button">API Index</button>
</a>



{% endblock %}


</body>
</html>