{% extends 'streaming/base.html' %}
{% load static %}

{% block head %}
<title>Privacy Policy</title>
<link rel="stylesheet" href="{% static 'assets/css/privacy-p.css' %}">
{% endblock %}

{% block style %}{% endblock %}
{% block carousel %}{% endblock %}

{% block content %}
<br><br><br><br><br>
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <h1 class="policy-heading">Privacy Policy</h1>
                </div>
                <br>
                <div class="col-sm-12 policy-content-date">
                    <h6>Last Updated 11/02/2023</h6>
                </div>
                <div class="col policy-content-col">
                    <p>Welcome to&nbsp;<span class="sub-title-span">DjangoStream</span>. We value your trust and are committed to protecting your privacy. This Privacy Policy outlines the types of information we collect, how we use it, and the measures we take to safeguard your data.</p>
                </div>
                <!-- Start: Policy Title -->
                <div class="col-sm-12">
                    <h5>1. Information Collected</h5>
                </div><!-- End: Policy Title -->
                <div class="container">
                    <!-- Start: Policy Content -->
                    <div class="col policy-content-col">
                        <p><span class="sub-title-span">Account Information:&nbsp;</span>&nbsp;When you create an account with us, we collect your name, email address, and password.</p>
                        <p><span class="sub-title-span">Payment Information:</span>&nbsp;To process transactions, we may collect payment details, but we do not store full credit card numbers or security codes.</p>
                        <p><span class="sub-title-span">Usage Data:</span>&nbsp;We gather data on how you interact with our platform, such as watch history, search queries, and preferences.</p>
                    </div><!-- End: Policy Content -->
                </div>


                <!-- Start: Policy Title -->
                <div class="col-sm-12">
                    <h5>2. How We Use Your Information</h5>
                </div><!-- End: Policy Title -->
                <div class="container">
                    <!-- Start: Policy Content -->
                    <div class="col policy-content-col">
                        <p><span class="sub-title-span">Service Provision:&nbsp;</span>To provide, maintain, and improve our services.</p>
                        <p><span class="sub-title-span">Communication:&nbsp;</span>To communicate with you about updates, promotions, and customer service inquiries.</p>
                        <p><span class="sub-title-span">Security: </span>To detect fraud, protect against malicious activity, and ensure the integrity of our services.</p>
                    </div><!-- End: Policy Content -->
                </div>



                <!-- Start: Policy Title -->
                <div class="col-sm-12">
                    <h5>3. Protection of Your Data</h5>
                </div><!-- End: Policy Title -->
                <div class="container">
                    <!-- Start: Policy Content -->
                    <div class="col policy-content-col">
                        <p>We implement robust security measures to protect your data from unauthorized access, alteration, or deletion.</p>
                        <p>We use encryption technologies to ensure the confidentiality of your information.</p>
                    </div><!-- End: Policy Content -->
                </div>






                <!-- Start: Policy Title -->
                <div class="col-sm-12">
                    <h5>4.&nbsp;Sharing of Information</h5>
                </div><!-- End: Policy Title -->
                <div class="container">
                    <!-- Start: Policy Content -->
                    <div class="col policy-content-col">
                        <p><span class="sub-title-span">No Sale of Data:&nbsp;</span>&nbsp;We firmly commit that we will not sell your personal information to any third party.</p>
                        <p><span class="sub-title-span">Service Providers:&nbsp;</span>&nbsp;We may share your data with third-party vendors who provide services on our behalf, such as payment processing. These vendors are contractually bound to protect your information.</p>
                        <p><span class="sub-title-span">Legal Obligations:&nbsp;</span>&nbsp;We may disclose your information if required by law or in response to legal processes.</p>
                    </div><!-- End: Policy Content -->
                </div>
                <!-- Start: Policy Title -->
                <div class="col-sm-12">
                    <h5>5. Your Rights</h5>
                </div><!-- End: Policy Title -->
                <div class="container">
                    <!-- Start: Policy Content -->
                    <div class="col policy-content-col">
                        <p>You have the right to access, modify, or delete your personal information at any time.</p>
                        <p>You can opt-out of promotional communications by following the unsubscribe link in our emails.</p>
                    </div><!-- End: Policy Content -->
                </div>
                <!-- Start: Policy Title -->
                <div class="col-sm-12">
                    <h5>6. Cookies</h5>
                </div><!-- End: Policy Title -->
                <div class="container">
                    <!-- Start: Policy Content -->
                    <div class="col policy-content-col">
                        <p>We use cookies to enhance your user experience, remember your preferences, and provide relevant advertising. You can manage or disable cookies in your browser settings.</p>
                    </div><!-- End: Policy Content -->
                </div>
                <!-- Start: Policy Title -->
                <div class="col-sm-12">
                    <h5>7. Changes to This Policy</h5>
                </div><!-- End: Policy Title -->
                <div class="container">
                <!-- Start: Policy Content -->
                    <div class="col policy-content-col">
                        <p>We may update this Privacy Policy from time to time. We will notify you of any significant changes and encourage you to review this policy periodically.</p>
                    </div><!-- End: Policy Content -->
                </div>
                <!-- Start: Policy Title -->
                <div class="col-sm-12">
                    <h5>8. Contact Us</h5>
                </div><!-- End: Policy Title -->
                <div class="container">
                    <!-- Start: Policy Content -->
                    <div class="col-sm-12 policy-content-col">
                        <p>If you have questions or concerns about this Privacy Policy, please contact us at <a href="#"><span style="color: rgb(33, 37, 41);">help@django-stream.stream</span></a>.</p>
                    </div><!-- End: Policy Content -->
                </div>
                <div class="col policy-content-col">
                    <p>Thank you for choosing <span class="sub-title-span">DjangoStream</span>. We are dedicated to ensuring a secure and enjoyable streaming experience for all our users.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
