{% extends 'streaming/base.html' %}
{% load static %}
{% block head %}
<title>{{ video.title }}</title>
<!--    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">-->
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link rel="stylesheet" href="{% static 'assets/css/crud.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'assets/css/Hero-Carousel-images.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'assets/css/home.css">-->
<!--    <link rel="stylesheet" href="{% static 'assets/css/media-details.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'assets/css/privacy-p.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'assets/css/simple-footer.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider-swiper-bundle.min.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'assets/css/untitled-1.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %}">-->
    <link rel="stylesheet" href="{% static 'assets/css/video-details.css' %}">
{% endblock %}

{% block styles %}
{% endblock %}

{% block carousel %}
{% endblock %}

{% block content %}
<div class="col" style="height: 55px;margin-top: 14px;margin-bottom: 14px;"></div>
    <ol class="breadcrumb details-breadcrumb" style="padding-top: 20px;margin-left: 1em;">
        <li class="breadcrumb-item"><a href="{% url 'streaming:home' %}"><span class="breadcrumb-blk">Home</span></a></li>
        {% if video.type == 'Movie' %}
            <li class="breadcrumb-item"><a href="{% url 'streaming:movie_list' %}"><span class="breadcrumb-blk">Movies</span></a></li>
        {% else %}
            <li class="breadcrumb-item"><a href="{% url 'streaming:tv_list' %}"><span class="breadcrumb-blk">TV Shows</span></a></li>
        {% endif %}
        <li class="breadcrumb-item"><span class="fw-bold">{{ video.title}}</span></li>
    </ol>
    <div class="container stream-frame">
        <div class="aspect-ratio-box rounded-3"><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/{{ video.trailer_id }}" class="aspect-ratio-img" width="100%" height="auto"></iframe></div>
    </div>


    {% if movie.type or show.type == 'Show' %}
    <!-- TV Show Episode UI Elements Begin Here -->
    <div class="col" style="padding-left: 14px;">
        <div class="dropdown"><button class="btn btn-primary dropdown-toggle details-season-btn" aria-expanded="false" data-bs-toggle="dropdown" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-list-ol">
                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"></path>
                    <path d="M1.713 11.865v-.474H2c.217 0 .363-.137.363-.317 0-.185-.158-.31-.361-.31-.223 0-.367.152-.373.31h-.59c.016-.467.373-.787.986-.787.588-.002.954.291.957.703a.595.595 0 0 1-.492.594v.033a.615.615 0 0 1 .569.631c.003.533-.502.8-1.051.8-.656 0-1-.37-1.008-.794h.582c.008.178.186.306.422.309.254 0 .424-.145.422-.35-.002-.195-.155-.348-.414-.348h-.3zm-.004-4.699h-.604v-.035c0-.408.295-.844.958-.844.583 0 .96.326.96.756 0 .389-.257.617-.476.848l-.537.572v.03h1.054V9H1.143v-.395l.957-.99c.138-.142.293-.304.293-.508 0-.18-.147-.32-.342-.32a.33.33 0 0 0-.342.338v.041zM2.564 5h-.635V2.924h-.031l-.598.42v-.567l.629-.443h.635V5z"></path>
                </svg>&nbsp; Season 1&nbsp;</button>
            <div class="dropdown-menu"><a class="dropdown-item" href="#">Season 1</a><a class="dropdown-item" href="#">Season 2</a><a class="dropdown-item" href="#">Season 3</a></div>
        </div>
        <div class="row ep-btn-row container">
            <!-- Start: Episode -->
            <div class="col-12 col-md-6 col-xl-4"><a href="#">
                    <p class="text-truncate ep-btn" title="A Stary Night at the Moonlight Moonlight">Ep. 1 - A Stary Night at the Moonlight&nbsp;<strong>Moonlight</strong></p>
                </a></div><!-- End: Episode -->
            <!-- Start: Episode -->
            <div class="col-12 col-md-6 col-xl-4"><a href="#">
                    <p class="text-truncate ep-btn">Ep. 2 - A Stary Night at the Moonlight&nbsp;<strong>Moonlight</strong></p>
                </a></div><!-- End: Episode -->
            <!-- Start: Episode -->
            <div class="col-12 col-md-6 col-xl-4"><a href="#">
                    <p class="text-truncate ep-btn">Ep. 3- A Stary Night at the Moonlight&nbsp;<strong>Moonlight</strong></p>
                </a></div><!-- End: Episode -->
            <!-- Start: Episode -->
            <div class="col-12 col-md-6 col-xl-4"><a href="#">
                    <p class="text-truncate ep-btn">Ep. 4 - A Stary Night at the Moonlight&nbsp;<strong>Moonlight</strong></p>
                </a></div><!-- End: Episode -->
            <!-- Start: Episode -->
            <div class="col-12 col-md-6 col-xl-4"><a href="#">
                    <p class="text-truncate ep-btn">Ep. 5- A Stary Night at the Moonlight&nbsp;<strong>Moonlight</strong></p>
                </a></div><!-- End: Episode -->
            <!-- Start: Episode -->
            <div class="col-12 col-md-6 col-xl-4"><a href="#">
                    <p class="text-truncate ep-btn">Ep. 1 - A Stary Night at the Moonlight&nbsp;<strong>Moonlight</strong></p>
                </a></div><!-- End: Episode -->
            <!-- Start: Episode -->
            <div class="col-12 col-md-6 col-xl-4"><a href="#">
                    <p class="text-truncate ep-btn">Ep. 1 - A Stary Night at the Moonlight&nbsp;<strong>Moonlight</strong></p>
                </a></div><!-- End: Episode -->
            <!-- Start: Episode -->
            <div class="col-12 col-md-6 col-xl-4"><a href="#">
                    <p class="text-truncate ep-btn">Ep. 1 - A Stary Night at the Moonlight&nbsp;<strong>Moonlight</strong></p>
                </a></div><!-- End: Episode -->
        </div>
    </div>
    <!-- TV Show Episode UI Elements ENDS Here -->
    {% endif %}

    <hr>
    <div class="container">
        <div class="row">
            <div class="col-3 col-xl-3 details-vid-cover"><img class="img-fluid rounded-2" src="{{ video.thumbnail_url }}"></div>
            <div class="col-12 col-lg-9 col-xl-9">
                <!-- Start: Heading Row -->
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <h3 style="margin-top: 8px;">{{ movie.title }}</h3>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4 col-sm-8 col-lg-2 d-flex justify-content-center align-items-center justify-content-sm-end justify-content-lg-center justify-content-xl-end justify-content-xxl-end"><span class="badge bg-primary" style="color: #000000;">HD</span></div>
                            <div class="col-3 col-sm-2 col-lg-2 d-flex justify-content-center align-items-center">
                                <p class="d-flex justify-content-center align-items-center" style="margin: 0;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-star">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"></path>
                                    </svg>&nbsp; 5.8</p>
                            </div>
                            <div class="col-5 col-sm-2 col-md-2 col-xl-8 d-xl-flex d-xxl-flex justify-content-xl-start">
                                {% if video.length %}
                                <p class="d-flex justify-content-center align-items-center" style="margin-bottom: 0;">{{ video.length }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div><!-- Start: Heading Row -->
                    <div class="col-12 col-xl-12">
                        <p style="padding-top: 6px;">
<!--                            <strong><em><span style="color: rgb(32, 33, 34);">{{ movie.title }}</span></em></strong><span style="color: rgb(32, 33, 34);">&nbsp;is a 2001 American&nbsp;</span>-->
                            <strong><em><span style="color: rgb(32, 33, 34);">{{ video.title }}</span></em></strong>
                            <span style="color: rgb(32, 33, 34);">{{ video.description }}</span>
                    </div><!-- End: Heading Row -->
                    <div class="col-5 col-sm-4 col-md-3 col-xl-4 col-xxl-3 d-sm-flex d-md-flex justify-content-sm-center justify-content-md-center">
                        <p>Lead Actors&nbsp;:</p>
                    </div>
                    <div class="col-7 col-sm-8 col-xl-8 col-xxl-9">
                        <p>{% for actor in video.cast.all %}
                                {% if forloop.last %}<span title="{{ actor.bio }}"> {{ actor }}.</span>
                                {% else %}<span title="{{ actor.bio }}"> {{ actor }}, </span>
                                {% endif %}
                            {% endfor %}</p>
                    </div>
                    <div class="col-5 col-sm-4 col-md-3 col-xl-4 col-xxl-3 d-sm-flex d-md-flex justify-content-sm-center justify-content-md-center">
                        <p>Genre&nbsp;:</p>
                    </div>
                    <div class="col-7 col-sm-8 col-xl-8 col-xxl-9">
                        <p>{% for genre in video.genres.all %}
                                {% if forloop.last %}<span title="{{ genre.description }}"> {{ genre }}.</span>
                                {% else %}<span title="{{ genre.description }}"> {{ genre }}, </span>
                                {% endif %}
                            {% endfor %}</p>
                    </div>

                    {% if video.premier_date %}
                    <div class="col-5 col-sm-4 col-md-3 col-xl-4 col-xxl-3 d-sm-flex d-md-flex justify-content-sm-center justify-content-md-center">
                        <p>Released&nbsp;:</p>
                    </div>
                    <div class="col-7 col-sm-8 col-xl-8 col-xxl-9">
                        <p>{{ video.premier_date }}</p>
                    </div>
                    {% endif %}

                    {% if video.country %}
                    <div class="col-5 col-sm-4 col-md-3 col-xl-4 col-xxl-3 d-sm-flex d-md-flex justify-content-sm-center justify-content-md-center">
                        <p>Country&nbsp;:</p>
                    </div>
                    <div class="col-7 col-sm-8 col-xl-8 col-xxl-9">
                        <p>{% for country in video.country.all %}
                                {% if forloop.last %}<span title="{{ country.description }}"> {{ country }}.</span>
                                {% else %}<span title="{{ country.description }}"> {{ country }}, </span>
                                {% endif %}
                            {% endfor %}</p>
                    </div>
                    {% endif %}

                    {% if video.budget %}
                    <div class="col-5 col-sm-4 col-md-3 col-xl-4 col-xxl-3 d-sm-flex d-md-flex justify-content-sm-center justify-content-md-center">
                        <p>Budget&nbsp;:</p>
                    </div>
                    <div class="col-7 col-sm-8 col-xl-8 col-xxl-9">
                        <p>$ {{ video.budget }}</p>
                    </div>
                    {% endif %}

                    {% if video.box_office %}
                    <div class="col-5 col-sm-4 col-md-3 col-xl-4 col-xxl-3 d-sm-flex d-md-flex justify-content-sm-center justify-content-md-center">
                        <p>Box Office :</p>
                    </div>
                    <div class="col-7 col-sm-8 col-xl-8 col-xxl-9">
                        <p>$ {{ video.box_office }}</p>
                    </div>
                    {% endif %}

                </div><!-- End: Heading Row -->
            </div>
            <div class="col-xl-12">
                <h1>Related</h1>
                <div class="row">
                        {% if video_recs %}
                            {% for video in video_recs %}
                            <!-- Start: Video Card -->
<!--                            <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2 portfolio-item"><a class="" href="{% url 'streaming:video_detail_type' video_type=video.type video_id=video.id %}">-->
<!--                                    <div class="card home-card">-->
<!--                                        <div class="card-img"><img src="{{ video.thumbnail_url }}"></div>-->
<!--                                        <div class="card-img-overlay">-->
<!--                                            <h6 class="text-start" style="text-align: left;"><span class="badge bg-primary home-card-top-badge">HD</span></h6>-->
<!--                                        </div>-->
<!--                                        <div class="card-body home-card-body">-->
<!--                                            <div class="row d-flex">-->
<!--                                                <div class="col-sm-12">-->
<!--                                                    &lt;!&ndash; Start: Card Title &ndash;&gt;-->
<!--                                                    <p class="home-card-title">{{ video.title }}</p>&lt;!&ndash; End: Card Title &ndash;&gt;-->
<!--                                                </div>-->
<!--                                                <div class="col-8 col-sm-9">-->
<!--                                                    <p class="home-card-p">2023&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-dot">-->
<!--                                                            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>-->
<!--                                                        </svg>&nbsp; 87m</p>-->
<!--                                                </div>-->
<!--                                                <div class="col-4 col-sm-3 d-flex justify-content-center align-items-center"><span class="badge bg-primary d-flex justify-content-center align-items-end home-card-bottom-badge">Movie</span></div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </a></div>-->
                                <!-- End: Video Card -->
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2"><a href="{% url 'streaming:video_detail_type' video_type=video.type video_id=video.id %}">
                                <div class="card video-card">
                                    <div class="card-img"><img src="{{ video.thumbnail_url }}" /></div>
                                    <div class="card-img-overlay" title="&quot;{{ video.title }}&quot;">
                                        <h6 class="text-start" style="text-align: left;"><span class="badge bg-primary video-card-top-badge">{{ video.quality }}</span></h6>
                                    </div>
                                    <div class="card-body video-card-body">
                                        <div class="row d-flex">
                                            <div class="col-sm-12">
                                                <p class="text-truncate video-card-title">{{ video.title }}</p>
                                            </div>
                                            <div class="col-8 col-sm-9">
                                                <p class="video-card-p">2023  <svg class="bi bi-dot" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                                        <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                                                    </svg>  87m</p>
                                            </div>
                                            <div class="col-4 col-sm-3 d-flex justify-content-center align-items-center"><span class="badge bg-primary d-flex justify-content-center align-items-end video-card-bottom-badge">{{ video.type }}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </a></div>
                            {% endfor %}
                        {% else %}
                            <h1>Sorry, unable to fetch the movies list..</h1>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
    <nav class="d-flex justify-content-center align-items-center home-paginator">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<!--    <script src="assets/js/agency.js"></script>-->
<!--    <script src="assets/js/Simple-Slider-swiper-bundle.min.js"></script>-->
<!--    <script src="assets/js/Simple-Slider.js"></script>-->
{% endblock %}

{% block footer %}
{% endblock %}